

<p><%= link_to "Manage Entries", manage_entries_path %></p>
<p><%= link_to "Manage Developers", manage_developers_path %></p>
<p><%= link_to "Manage Projects", manage_projects_path %></p>
<p><%= link_to "Manage Categories", manage_categories_path %></p>
<p><%= link_to "Manage Tags", manage_tags_path %></p>