<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @developer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @developer.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @developer.email %>
</p>

<p>
  <b>Password:</b>
  <%= @developer.password %>
</p>


<%= link_to 'Edit', edit_developer_path(@developer) %> |
<%= link_to 'Back', developers_path %>
