<div class="well">

<%= form_for( @entry,:remote => :true, :html => {:'data-type' => 'json'}) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.text_field :date, :placeholder => "Date", :class => "datepicker input-small" %>

    <%= f.text_field :hours, :class => "skinny", :placeholder => "Time | 1h 30m "%>

    
    <%= f.collection_select :project_id, Project.all, :id, :name, {} %>
    <%= f.collection_select :category_id, Category.all, :id, :name, {} %>

    <%= f.text_field :description, :placeholder => "What did you do?", :class=> "input-xlarge to-clear", :cols=> "60", :rows => "1" %>


    <%= f.submit "Add", :class => "btn", :id => 'add-hours-btn' %>


<% end %>



</div>