<p id="notice"><%= notice %></p>

  <h3><%= @entry.date %></h3>

<p>
  <b>Developer:</b>
  <%= @entry.developer.full_name %>
</p>

<p>
  <b>Project:</b>
  <%= @entry.project %>
</p>

<p>
  <b>Category:</b>
  <%= @entry.category %>
</p>

<div class="well">

<p>
  <b>Hours:</b>
  <%= @entry.hours %> / $<%= @entry.payment %>  
</p>

<p>
  <b>Description:</b><br/>
  <%= @entry.description %>
</p>

<% if @entry.invoiced? %>
  <p><i>This entry has been invoiced </i></p>
<% end %>


</div>



<%= link_to 'Edit', edit_manage_entry_path(@entry), :class=> 'btn' %> 
<%= link_to 'Back', home_path, :class=> 'btn btn-primary' %>
