<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @entry.date %>
</p>

<p>
  <b>Time:</b>
  <%= @entry.time %>
</p>

<p>
  <b>Description:</b>
  <%= @entry.description %>
</p>

<p>
  <b>Developer:</b>
  <%= @entry.developer %>
</p>

<p>
  <b>Project:</b>
  <%= @entry.project %>
</p>

<p>
  <b>Category:</b>
  <%= @entry.category %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
