<%= render 'entries/inline_form' %>


<div class="well">

  <div class="span5">

    <% @developers.each do | d | %>
     <div class="dev-check" style="display:inline; padding:4px; margin-right:10px">
        <input id="<%= d.id %>" type="checkbox" class="dev-filter" 
        <% if session[:user][:id] == d.id %> checked="true"<% end %> > <%= d.first_name %>
      </div>
    <% end %>

  </div>

  <div class="span5 pull-right">

    <% @projects.each do | project | %>
     <div class="project-check" style="display:inline; padding:4px; margin-right:10px">
        <input id="<%= project.id %>" type="checkbox" class="project-filter" >
        <%= project.name %>


      </div>
    <% end %>


  </div>


</div>

<div id="remote-message" class="alert alert-success" style="display:none; text-algin:center"></div>


<div style=" width:100%" id="current-entries"></div>
<div id="progress-message" ></div>


<script>
$( document ).ready(function() {
 
 refreshEntries();
});

    </script>


