<h1>Current Developers</h1>

<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @developers.each do |developer| %>
  <tr>
    <td><%= developer.first_name %></td>
    <td><%= developer.last_name %></td>
    <td><%= developer.email %></td>
    <td><%= developer.password %></td>
    <%= debug edit_manage_developer_path %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Developer', new_manage_developer_path %>
