<h1>Current Developers</h1>

<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @developers.each do |developer| %>
  <tr>
    <td><%= developer.first_name %></td>
    <td><%= developer.last_name %></td>
    <td><%= developer.email %></td>
    <td><%= developer.password %></td>
    <td><%= link_to 'Show', manage_developer_path(developer) %></td>
    <td><%= link_to 'Edit', edit_manage_developer_path(developer) %></td>
    <td><%= link_to 'Destroy', manage_developer_path(developer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Developer', new_manage_developer_path %>
