<%= form_for [:manage, @category] do |f| %>

  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => :name, :class => 'input-large' %>
  </div>
  <div class="field"> 
    <%= f.text_field :code, :placeholder => :code, :class => 'input-small'%>
  </div>

    <div class="field"> 
    <%= f.number_field :rate, :placeholder => :rate, :class => 'input-small'%>
  </div>
  
  <div class="actions">
    <%= f.submit :class => 'btn' %>
  </div>
<% end %>
