<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>exby8t: Stopwatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="neato.">
    <meta name="author" content="Jenil Gogari">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  </head>

  <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80" style="margin-top: 0px;">
    


  <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="/">Multiplied by Infinity</a>
       <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
          <li><a  href="/">Add Hours</a></li>
          
          
        </ul>
        <ul class="nav pull-right" id="main-menu-right">

          <% unless session[:user] %>
          <li>
            <a rel="tooltip" target="_blank" href="/login" title=""  
            data-original-title="Admin">Login <i class="icon-share-alt"></i></a>
          </li> 
          <% else %>
          <li>
            <a rel="tooltip" target="_blank" href="/logout" title=""  
            data-original-title="Admin">Logout <i class="icon-share-alt"></i></a>
          </li>          
           <% end %> 
          <li>
            <a rel="tooltip" target="_blank" href="/manage/home" title=""  
            data-original-title="Admin">Administrate <i class="icon-share-alt"></i></a>
          </li>
          
        </ul>
       </div>
     </div>
   </div>
 </div>

    <div class="container">

      <% if flash[:message] %>
        <div class="alert alert-success">
          <%= flash[:message] %>
        </div>
      <% end %>

      <% if flash[:error] %>
        <div class="alert alert-error">
          <%= flash[:error] %>
        </div>
      <% end %>


      <%= yield %>




     <!-- Footer
      ================================================== -->
      <hr>

      <footer id="footer">
       
      </footer>

    </div><!-- /container -->




</body></html>
